// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.userNav {
    z-index: 101;
    position: relative;
    width: 83.35%;
    margin-left: auto;
}

.myImage {
    width: 100px !important;
 }